/* Primary Colours */

@white: #ffffff;
@black: #000000;


/* Brand Colours */

@brand-primary: #0099cc;
@brand-secondary: #cc3300;
@brand-tertiary: #0033cc;

/* Helpful Mixins */

.border-radius(@radius){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
