{% extends "UWA/Template/uwa.tpl" %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="container">

            <div class="row">

                <div class="uCarousel uCarousel-holder">
                    <div class="container">
                        <div class="item">
                            <div class="photo" style="background-color: transparent; background-image: url('Resources/Images/eg.jpg'); background-size: cover;">
                            </div>
                            <div class="content">
                                <h2>Post Title</h2>
                                <h4><small>Saturday 14<sup>th</sup> January 2017</small></h4>
                                <p>HI! Some of the content of the post will go here. It could be
                                    either the first couple of paragraphs or a separate bit of
                                    text that is added separately which would be about the
                                    post made.</p>
                                <div class="details">
                                    <div class="community"><a href="/post/view/id">2 likes; 1 comment</a></div>
                                    <div class="post-link pull-right"><a href="/post/view/id">View Post</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-counter">
                            <div class="item-counter-image active">&nbsp;</div>
                            <div class="item-counter-image">&nbsp;</div>
                            <div class="item-counter-image">&nbsp;</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}