{% extends "UWA/Template/dashboard.tpl" %}

{% block content %}

{% if uwa_user.Role.Role.Name != "Admin" %}

<div class="alert alert-danger" role="alert">
    <strong>Sorry!</strong> You do not have the necessary permissions to view this page
</div>

{% else %}

<div class="row">
    <div class="col-sm-12">

        {% if result == true %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Added new user {{ new_user.Name }}.
        </div>

        {% endif %}

        <div class="row">
            <div class="login uCard uCard-Standalone">
                <h2>Add User</h2>

                <div class="row">
                    <div class="col-sm-6">

                        <form role="form" method="post" action="/user/add/do">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="username">Username:</label>
                                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" />

                                        <label class="sr-only" for="name">Name:</label>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="password">Password:</label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />

                                        <label class="sr-only" for="cpassword">Confirm Password:</label>
                                        <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="email">Email:</label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="phone_number">Phone Number:</label>
                                        <input type="tel" class="form-control" name="phone_number" id="phone_number" placeholder="Phone Number" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="line1">Address Line 1:</label>
                                        <input type="text" class="form-control" name="line1" id="line1" placeholder="Address Line 1" />

                                        <label class="sr-only" for="line2">Address Line 2:</label>
                                        <input type="text" class="form-control" name="line2" id="line2" placeholder="Address Line 2" />

                                        <label class="sr-only" for="zip">Zip:</label>
                                        <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="city">City:</label>
                                        <input type="text" class="form-control" name="city" id="city" placeholder="City" />

                                        <label class="sr-only" for="country">Country:</label>
                                        <input type="text" class="form-control" name="country" id="country" placeholder="Country" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="role">Role: </label>
                                        <select type="dropdown" class="form-control" name="role" id="role">
                                            {% for role in uwa_roles %}
                                            <option value="{{role.Id}}">{{role.Name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}