/* Primary Colours */
/* Brand Colours */
/* Helpful Mixins */
body {
  padding-top: 70px;
  background-color: #e6e6e6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: #0099cc solid 2px;
}
.uwa-nav {
  background-color: #0d0d0d;
}
.uwa-nav .menu-header {
  padding: 6px;
  font-size: 1.25em;
  margin-bottom: 6px;
  color: #00bfff;
  border-bottom: 1px solid #0099cc;
}
.div-table-heading {
  background-color: #0099cc;
  padding: 4px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.uwa-menu {
  background-color: #0d0d0d;
  min-height: 100vh;
  width: 15vw;
  position: absolute;
  top: -20px;
  left: 0;
  bottom: 0;
}
.uwa-menu .menu-header {
  padding: 6px;
  font-size: 1.25em;
  margin-bottom: 6px;
  color: #00bfff;
  border-bottom: 1px solid #0099cc;
}
.uwa-menu .nav li a {
  padding: 5px 7.5px;
  color: #ffffff;
}
.uwa-menu .nav li a:hover {
  background-color: #0099cc;
}
.uwa-menu .nav-pills li a {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
#mobile-menu {
  position: absolute;
  top: 0;
}
#mobile-menu .menu-icon {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5em;
  z-index: 5;
}
#mobile-menu .menu-links-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
#mobile-menu .menu-links-container .menu-links {
  padding: 6px;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 3;
  font-size: 1.5em;
  box-shadow: 0px 0px 4px #050505;
  overflow-y: auto;
}
#mobile-menu .menu-links-container .menu-links li {
  list-style-type: none;
  padding: 0px;
}
#mobile-menu .menu-links-container .menu-links li.menu-header {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #00bfff;
  border-bottom: 1px solid #0099cc;
}
#mobile-menu .menu-links-container .menu-links li.menu-item {
  margin-top: 3px;
  margin-bottom: 3px;
}
#mobile-menu .menu-links-container .menu-links .fa.fa-times {
  font-size: 1.5em;
  color: #ffffff;
}
#upload_progress {
  display: none;
}
#upload_iframe {
  display: none;
}
.selectable {
  min-width: 150px !important;
  max-width: 150px !important;
  min-height: 150px !important;
  max-height: 150px !important;
  object-fit: cover;
}
.selectable:hover {
  cursor: pointer;
  background: #0099cc;
}
.view_album_thumbnail {
  min-width: 150px !important;
  max-width: 150px !important;
  min-height: 150px !important;
  max-height: 150px !important;
  object-fit: cover;
}
.selectable-selected {
  background: #0099cc;
}
@media only screen and (max-device-width: 736px) {
  .selectable {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 8em !important;
    max-height: 8em !important;
    object-fit: cover;
  }
  .view_album_thumbnail {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 8em !important;
    max-height: 8em !important;
    object-fit: cover;
  }
  .menu-links {
    padding-bottom: 15vh !important;
  }
}
