{% extends "UWA/Template/dashboard.tpl" %}

{% block content %}

{% if uwa_user.Role.Role.Name != "Admin" and uwa_user.Role.Role.Name != "Blog Admin" and uwa_user.Role.Role.Name != "Blog Editor" %}

<div class="alert alert-danger" role="alert">
    <strong>Sorry!</strong> You do not have the necessary permissions to view this page.
</div>

{% else %}

<div class="row">
    <div class="col-sm-12">

        {% if result == true %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Edited post {{ post.Title }}.
        </div>

        {% endif %}

        <div class="uCard uCard-Standalone">
            <h2>Edit Post</h2>

            <div class="row">
                <div class="col-sm-3">
                    <label for="selected-post">Select Post:</label>
                    <select class="form-control" id="selected-post" name="selected-post" type="dropdown" onchange="onSelectPost()">
                        <option value="">Select Post</option>
                        {% for p in all_posts %}
                        <option value="{{ p.Id }}">{{ p.Title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <br />

            <div class="row hidden" id="hidden-select-post">
                <div class="col-sm-6">
                    <form action="/dashboard/blog/{{ blog }}/post/edit/do" method="post" role="form">
                        <input type="hidden" name="ID" />
                        <div class="form-group">
                            <label for="title" class="sr-only">Title:</label>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Title" />
                        </div>
                        <div class="form-group">
                            <label for="content" class="sr-only">Content:</label>
                            <textarea class="form-class bbcode-editor" name="content" id="content" placeholder="Content"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function onSelectPost(){
        // Get the details of the selected user
        $.post("/dashboard/blog/post/get", {blog_id: $("#selected-post").val()}, function(data){
            data = JSON.parse(data);
            var post = data.found_post;
            $("input[name='ID']").val(post.Id);
            $("input[name='title']").val(post.Title);
            $("textarea[name='content']").val(post.Content);

            $("#hidden-select-post").removeClass("hidden");
        });


    }
</script>

{% endif %}

{% endblock %}